.memberCard {
  background-color: rgb(224, 224, 224);
  margin: auto;
  max-height: 60px;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 0px;
  animation: close 0.3s;
  border-radius: 5px;
  width: 80%;
  margin-left: 0px;
}

.memberCard:hover,
.edit:hover {
  cursor: pointer;
  background-color: rgba(224, 224, 224, 0.61);
}

.top {
  display: flex;
  justify-content: space-evenly;
  height: 60px;
  align-items: center;
}

.bottom {
  /* background-color: red; */
  margin: 0px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.open {
  max-height: 100px;
  animation: open 0.3s;
}

.edit {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: rgb(224, 224, 224);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  margin: auto;
}
@keyframes open {
  from {
    max-height: 60px;
  }
  to {
    max-height: 100px;
  }
}

@keyframes close {
  from {
    max-height: 100px;
  }
  to {
    max-height: 60px;
  }
}
